@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap');

.qr-container{
    height: 100vh;
    display: flex;
    background-color: #262626;
    margin: 0;
    overflow-y: hidden;
    overflow-x: hidden;
}

.rectangulo {
    width: 100%;
    height: 9vh;
    bottom: 0;
    left: 0;
    background: #0F62FE;
    position: fixed;
}

.tituloQR {
    width: 55.625vw;
    height: 6px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 3.5vw;
    font-size: 50px;
    line-height: 3.5vw;
    margin-top: 4vw;
    color: #FFFFFF;
    margin-left: 33vw;
}

.textoQR {
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-size: 20px;
    margin-top: 10vw;
    color: #FFFFFF;
    margin-left: -55vw;
}

.QR{
    margin-top: 15vw;
    margin-left: -28vw;
}

.claveQR{
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-size: 15px;
    color: #8D8D8D;
    margin-left: -33vw;
}

.texto1QR {
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-size: 20px;
    margin-top: 38vw;
    color: #FFFFFF;
    margin-left: -30vw;
}
